services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.prod
    ports:
      - 3000:3000
  nginx:
    image: nginx
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx.default.conf:/etc/nginx/conf.d/default.conf
      - .:/app
      - ../frontops-2/certbot/www:/var/www/certbot
      - ../frontops-2/certbot/data:/etc/letsencrypt
    command: '/bin/sh -c ''while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g "daemon off;"'''

  certbot:
    image: certbot/certbot
    volumes:
      - ../frontops-2/certbot/www:/var/www/certbot
      - ../frontops-2/certbot/data:/etc/letsencrypt
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

name: result-frontops-3
